{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="create">
    <div class="home">
        <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" class="h" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
            </svg>
        </a>
    </div>
    <div class="avatar">
        <img src="{% static 'img/profilePic.jpeg'%}" alt="avatar">
    </div>
    <p>@RO___hit__k</p>
    <hr>

    <div class="folder">
        <h3>Create Folder</h3>
        <form  method="POST">
            {% csrf_token %}
            <input type="text" name="keyword" id="f">
            <input type="submit" value="Search" id="btn">
        </form>
    </div>
    <hr>

    <div class="book">
        <svg xmlns="http://www.w3.org/2000/svg" class="bookmark" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
        </svg>
        <a href="{% url 'paper:bookmark_view'%}">Bookmarks</a>
    </div>
    <hr>

    <div class="color" style="padding:10px;">
        <h2 style="letter-spacing: .1px; font-size:22px;">Choose your background color</h2>
        <div class="green" style="margin-left:100px; margin-top:10px;">
            <label for="color">Color:</label>
            <input type="color" name="color" id="color-value">
        </div>
    </div>
    <hr>
    <div class="search" style="padding:10px;">
        <h3>Search:</h3>
        <form action="{% url 'paper:search'%}" method="GET">
            {% csrf_token %}
            <input type="text" name="keyword" id="f">
            <input type="submit" value="Search" id="btn">
        </form>
    </div>
    <hr>
    <div class="footer">
        <p>&copy;2021 by brNetworks</p>
    </div>
</div>

<div class="container">
    {% for file in files %}
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="ficon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z" />
            </svg>
                <a href="{{file.data.url}}" download>{{file.fileName}}</a>
                <a href="{% url 'paper:bookmark' file.id %}">bookmark</a>
        </div>
    {% endfor %}
    <div class="submit">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="data">
            <input type="text" name="fileName">
            <!-- <input list="folders" name="folders" id="folders">
            <datalist id="folders">
                {% for f in folder%}
                    <option value="{{f.name}}">
                {%endfor%}
              </datalist> -->
            <input type="submit" value="Add">
        </form>
    </div>
</div>
{% endblock %}