{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="create">
        <div class="home">
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" class="h" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                </svg>
            </a>
        </div>
        <div class="avatar">
            <img src="{% static 'img/profilePic.jpeg'%}" alt="avatar">
        </div>
        <p>@RO___hit__k</p>
        <hr>

        <div class="folder">
            <h3>Create Folder</h3>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="folder" id="f">
                <input type="submit" value="Create" id="btn">
            </form>
        </div>
        <hr>

        <div class="book">
            <svg xmlns="http://www.w3.org/2000/svg" class="bookmark" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
            </svg>
            <a href="{% url 'paper:bookmark_view'%}">Bookmarks</a>
        </div>
        <hr>
        <hr>
        <div class="search" style="padding:10px;">
            <h3>Search:</h3>
            <form action="{% url 'paper:search'%}" method="GET">
                {% csrf_token %}
                <input type="text" name="keyword" id="f">
                <input type="submit" value="Search" id="btn">
            </form>
        </div>
        <hr>
        <div class="footer">
            <p>&copy;2021 by brNetworks</p>
        </div>
    </div>

    <div class="container">
        <div class="flat">
            {% for f in folder %}
                <a href="{% url 'paper:folder' f.id %}">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ficon" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" />
                        </svg>
                        <p>{{f.name | title}}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
